.header{ 
    padding: auto;
    background-color: darkred;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 420px;  width: 650px;
       }

.key{
    border: 3px, deeppink;
    background-color: floralwhite;
    height: 12px; 
    width: 12px;
    padding: 40px, 50px;
}       