.gora{
    height: 100px;
    width: auto;
    text-align:  center;
}

.header{ 
    padding: auto;
    background-color: darkred;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 

       }

.key{
    border: 3px, deeppink;
    background-color: floralwhite;
    height: 12px; 
    width: 12px;
    padding: 40px, 50px;
    text-align: center;
}       

.przycisk{
    border: 3px, deeppink;
    background-color: floralwhite;
    height: 120px; 
    width: 120px;
    padding: 40px, 50px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    float: left;
    border-radius: 20px;
    margin-left: 15px;
    transition: 1s;
}

.pierdprzycisk{
    border: 3px, deeppink;
    background-color: floralwhite;
    height: 120px; 
    width: 120px;
    padding: 40px, 50px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    float: left;
    border-radius: 20px;
    margin-left: 15px;
    transition: 2s;

}
.pierdprzycisk:hover {
    scale: 1,1;
    box-shadow: 20px, darkviolet;
    background-image:url(zdjecia/pierdzdjecie.jpg);
    background-position: center;
}
